.vs
Debug
*\Debug\vc142.idb
*\Debug\vc142.pdb
*\Debug\vc142.pdb
*\Debug\vc142.idb
*.lastbuildstate
*.exe.recipe
Crossy_Road/Crossy_Road/Debug/Crossy_Road.exe.recipe
Crossy_Road/Crossy_Road/Debug/Crossy_Road.ilk
Crossy_Road/Crossy_Road/Debug/Crossy_Road.log
Crossy_Road/Crossy_Road/Debug/Crossy_Road.tlog/Crossy_Road.lastbuildstate
Crossy_Road/Crossy_Road/Debug/main.obj
Crossy_Road/Crossy_Road/Debug/vc142.idb
Crossy_Road/Crossy_Road/Debug/vc142.pdb
Crossy_Road/Debug/Crossy_Road.pdb
Crossy_Road/Crossy_Road/Debug/main.obj
Crossy_Road/Crossy_Road/Debug/Crossy_Road.log
Crossy_Road/Crossy_Road/Debug/Crossy_Road.tlog/CL.command.1.tlog
Crossy_Road/Crossy_Road/Debug/Crossy_Road.tlog/CL.read.1.tlog
Crossy_Road/Crossy_Road/Debug/Crossy_Road.tlog/CL.write.1.tlog
Crossy_Road/Crossy_Road/Debug/Crossy_Road.tlog/link.read.1.tlog
Crossy_Road/Crossy_Road/Debug/Crossy_Road.tlog/link.write.1.tlog
Crossy_Road/Crossy_Road/Debug/main.obj
Crossy_Road/Crossy_Road/Debug/vc142.idb
Crossy_Road/Crossy_Road/Debug/vc142.pdb
